/user_profile/*

/app/clangd_22.1.6
/app/clangd_22.1.6.tar.gz

/vim_setting/plugin/async.vim
/vim_setting/plugin/nerdtree
/vim_setting/plugin/onedark.vim
/vim_setting/plugin/rainbow
/vim_setting/plugin/vim-airline
/vim_setting/plugin/vim-airline-themes
/vim_setting/plugin/vim-lsp

/nvim_setting/plugin/async.vim
/nvim_setting/plugin/lazy.nvim
/nvim_setting/plugin/nvim-treesitter
/nvim_setting/plugin/onedark.nvim
/nvim_setting/plugin/vim-lsp
